<form>
  <div class="row">
    <div class="input-field col s12">
      <input type="search" id="search" name="search" required autofocus>
      <label for="search">Votre recherche</label>
    </div>
  </div>
</form>
